CAMUNDA_CLIENT_ID=your-client-id
CAMUNDA_CLIENT_SECRET=your-client-secret
CAMUNDA_CLUSTER_ID=your-cluster-id
CAMUNDA_REGION=bru-2

GRPC_HOST=localhost
GRPC_PORT=50051

RABBITMQ_HOST=localhost
RABBITMQ_USER=user
RABBITMQ_PASSWORD=password

DB_HOST=localhost
DB_NAME=invoice_db
DB_USER=admin
DB_PASSWORD=your-db-password
